* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body,
input,
button {
  font-family: "Josefin Slab", serif;
}

.hide {
  display: none;
}

.fadeIn {
  animation: fade 0.6s ease;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  background-color: rgb(228, 226, 226);
  border-bottom: 6px solid rgb(238, 238, 238);
  box-shadow: 10px 10px 5px rgb(190, 188, 188);
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.logo img {
  width: 60px;
}

.logo p {
  font-weight: 200;
  color: darkgrey;
  font-style: italic;
  margin-top: 0.5rem;
  font-size: 1.2rem;
  margin-left: 1rem;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
}

nav ul li:last-child {
  padding-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: darkgrey;
  padding: 10px;
  font-size: 1.7rem;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

.stats {
  width: 100%;
}

.latest-report {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
  color: lightgrey;
}

.change-country {
  background: grey;
  text-transform: capitalize;
  padding: 0.1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.country,
.total-cases,
.recovered,
.deaths {
  height: 100px;
  text-align: center;
  font-style: italic;
}

.name {
  font-size: 2.3rem;
  color: grey;
}

.title {
  font-size: 1.4rem;
}

.total-cases .value {
  font-size: 2.1rem;
  font-weight: 600;
  color: grey;
}

.recovered .value {
  font-size: 2.1rem;
  font-weight: 600;
  color: lightgreen;
}

.deaths .value {
  font-size: 2.1rem;
  font-weight: 600;
  color: darkred;
}

.new-value {
  font-size: 1.4rem;
}

.chart {
  width: 80%;
  height: 70vh;
  min-height: 500px;
  margin: 0 auto;
  padding: 50px 0;
}

.search-country {
  position: relative;
  top: 10px;
}

.search-box {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  height: 30px;
  background-color: #111;
  z-index: 1;
}

.search-box input {
  width: 360px;
  height: 25px;
  border: none;
  background-color: transparent;
  color: whitesmoke;
  padding-left: 15px;
  font-size: 1.2rem;
  font-style: italic;
  text-align: center;
}

.search-box button {
  width: 20x;
  font-size: 1.1rem;
  cursor: pointer;
  padding: 0 20px;
  margin-right: 0.1rem;
  background: lightgrey;
  transition: all 1s ease;
}

.search-box button:hover {
  transform: scale(0.9);
}

.country-list {
  display: flex;
  position: absolute;
  top: 30px;
  width: 400px;
  height: 300px;
  background-color: #111;
  opacity: 0.8;
  overflow-y: scroll;
}

.country-list ul {
  width: 100%;
}

.country-list ul li {
  list-style: none;
  cursor: pointer;
  padding: 10px;
  color: white;
}

.country-list ul li:hover {
  border-bottom: 1px solid lightgray;
}

.country-list::-webkit-scrollbar {
  width: 8px;
}

.country-list::-webkit-scrollbar-track {
  background: #111;
}

.country-list::-webkit-scrollbar-thumb {
  background: grey;
}

footer {
  max-width: 1200px;
  height: 40px;
  margin: 0 auto;
  background-color: rgb(228, 226, 226);
}

.footer-container {
  height: 100%;
  display: flex;
  justify-content: center;
}

.copyright {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.copyright p {
  color: darkgrey;
}

@media screen and (max-width: 600px) {
  .latest-report {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
